PORT=5001
FRONTEND_URL=http://localhost:3000

# JWT Configuration
JWT_SECRET=your-secret-key

# MongoDB Configuration
MONGODB_URI=mongodb+srv://azizahussein:Aziza123@wrapped.tq0hh.mongodb.net/wrappedDB?retryWrites=true&w=majority&appName=Wrapped

# Spotify API Configuration
SPOTIFY_CLIENT_ID=1eaa963fe8864b6eb45a26aac161281e
SPOTIFY_CLIENT_SECRET=061cadfaff6449d08327ecdb54e92929
SESSION_SECRET=some_random_string_her


SPOTIFY_REDIRECT_URI=http://127.0.0.1:5001/api/spotify/callback
