# Server Configuration
PORT=5001
FRONTEND_URL=http://localhost:3000

# JWT Configuration
JWT_SECRET=your-secret-key

# MongoDB Configuration
MONGODB_URI=mongodb+srv://azizahussein:Aziza123@wrapped.tq0hh.mongodb.net/wrappedDB?retryWrites=true&w=majority&appName=Wrapped

# Spotify API Configuration
SPOTIFY_CLIENT_ID=57f18065d2fe4709a2413dff2c2af8c2
SPOTIFY_CLIENT_SECRET=9e1e08c20a8b47a8b064e855cd1450de
SESSION_SECRET=some_random_string_her


SPOTIFY_REDIRECT_URI=http://127.0.0.1:5001/api/spotify/callback
